.fc-daygrid-day {
    height: 250px; /* Fixed height for all cells */
    overflow: hidden;
}

.fc-daygrid-day-frame {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    height: 100%;
}

.fc-daygrid-event {
    width: 100%;
    height: 100%;
}

.fc-daygrid-event img {        
    width: 100%;
    height: 100%;
    object-fit: cover; /* Change to 'contain' if you prefer to see the whole image */
    display: block;
}

.fc-event {
    background-color: #fff; /* Light background */
    border: none; /* No borders */
    color: #000; /* Black text */
    width: 100%;
    height: 100%;
}

.event-element {
    width: 100%; /* Adjust this for image width */
    height: 100%; /* Adjust this for image height */
    position: relative;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    text-align: center;
}

.event-image {
    width: 100%; /* Make sure the image fits the container */
    height: 100%; /* Make sure the image fits the container */
    object-fit: cover;
    cursor: pointer;
}

.event-text {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    color: black;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 11px;
}



#modal-image {
    max-width: 100%; /* Image takes maximum of 100% of modal-content width */
    max-height: 70vh; /* Limits the image height to 70% of the viewport height */
    object-fit: contain; /* Change to 'contain' if you prefer to see the whole image */
    margin-bottom: 15px; /* Additional space below the image, remove if using gap */
}

#modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#nav-buttons {
    display: flex; /* Ensures the navigation buttons are inline */
}

#modal-title-ua {
    flex-grow: 1;  /* Allows the title to occupy the maximum space */
    text-align: center;
    margin: 0 10px; /* Provides spacing around the title */
}

#close-btn {
    cursor: pointer;
    font-size: 24px;
}

#nav-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 10px; /* Adjust padding as needed */
}

#modal-header button:hover,
#close-btn:hover {
    color: #666;  /* Hover effect for buttons */
}

#modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 66%; /* Modal content width to 2/3 of screen width */
    max-height: 100%; /* Modal content height to 2/3 of screen width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center everything in the modal */
    overflow: hidden; /* Ensures no content spills out */
}


#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

#image-and-text-container {
    display: flex;
    flex-direction: column; /* Default to vertical layout */
    gap: 20px; /* Adjust this value to increase or decrease the space */
    align-items: center;
}

#text-content {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Optional: adds space between columns/rows */
    padding: 10px 0; /* Adds padding above and below the text content */
    font-family: 'Lora', serif;
    font-size: 12px;
}


.column {
    flex: 1; /* Makes each child of text-content take equal width */
    min-width: 0; /* Prevents flex items from overflowing their container */
}

@media screen and (max-width: 768px) { /* Adjust this breakpoint as needed */
    .column {
        flex: 0 0 100%; /* Makes each child full width on smaller screens */
    }
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

#social-media a {
    color: #fff;  /* Adjust color as needed */
    text-decoration: none;
    margin-left: 10px;
}

#social-media img {
    vertical-align: middle;    
}

#social-media a:hover, #social-media a:focus {
    text-decoration: underline;
}

.poem-btn {
    display: flex;
    color: #000000; /* Default link color */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent; /* Make background transparent */
    padding: 10px;
    border-radius: 5px;
    border: none; /* Remove border */
    text-decoration: underline; /* Add underline to make it look like a link */
}

.poem-date {
    display: flex;
    color: #000000; /* Default link color */
    font-size: 20px;
    font-weight: bold;
    background-color: transparent; /* Make background transparent */
    padding: 10px;
    border-radius: 5px;
    border: none; /* Remove border */
}

.poem-btn:hover {
    color: #0056b3; /* Change color on hover to blue or any other color you prefer */
    text-decoration: underline;
}


.poem-table {
    display: none;
    background-color: #f0f0f0;
    color: hsl(262, 50%, 24%);
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: fixed;
    cursor: move; /* Change cursor to indicate draggable element */
    top: 35%;
}


.poem-table a {
    color: #000; /* Default link color */
    text-decoration: none;
}

.poem-table a:visited {
    color: #000; /* Color for visited links */
}

.poem-table a:hover {
    color: #000; /* Color for links on hover */
    text-decoration: underline;
}

.poem-table a:active {
    color: #f00; /* Color for pressed links */
}

/* Full height for the calendar container */
#calendar {
    height: 95%;
}

/* Ensure the body and html take up full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.fc {
    font-family: 'Roboto', sans-serif;
}


#search-results-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#search-results-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#search-nav-buttons {
    display: flex;
}

#search-nav-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 10px;
}

#search-nav-buttons button:hover {
    color: #666;
}

#close-btn-search {
    cursor: pointer;
    font-size: 24px;
    margin-left: auto;
}

#close-btn-search:hover {
    color: #666;
}

#thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    margin-top: 20px;
}

.thumbnail {
    text-align: center;
}

.thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.awesomplete {
    z-index: 1000; /* Ensure the autocomplete list is on top */
  }